

body,html, #impressum {
	height: 100%; 
	margin: 1%;
}

#publication {
	margin-left: 5%;
}

/** Modal**/

.modalDialog {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: slategrey;
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 500px;
    position: relative;
    margin: 3% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}

.modalDialog > div > h4 {
    margin-top: 10px;
}